.details-widget {
  display: block;
  box-shadow: none;
  background: #F3F3F3;
  border: none;
  border-radius: 5px;
  margin-bottom: 20px;

  .ant-card-head {
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
  }

  .ant-card-head-title {
    padding: 11px 10px 10px 10px;
  }

  .ant-card-body {
    padding: 12px;
  }

  .details-widget__subtitle {
    font-weight: 500;
    color: #0F0C01;
  }
  
  .details-widget__title {
    font-weight: 600;
    color: #0F0C01;
  }
  
  .details-list {
    margin: 0;
    padding-left: 0;
    list-style: none;

    li {
      display: flex;
      justify-content: space-between;
      align-items: center;
      font-size: 12px;

      &:not(:last-child) {
        margin-bottom: 24px;
      }
    }
  }
}
