.details-panel {
  background-color: rgb(254, 254, 254);
}

.details-panel.esri-legend {
  background-color: #eaeaea;
}

.details-panel .esri-legend__service, 
.info-widget {
  background-color: white;
  margin: 8px;
  border-radius: 5px;
}

.details-panel__close {
  position: absolute;
  width: 25px;
  height: 25px;
  left: -25px;
  top: 0px;
  background-color: #eaeaea;
  cursor: pointer;
  z-index: 1;
  border: none;
  user-select: none;
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
}
.details-panel__close:active, 
.details-panel__close:focus {
  background-color: #eaeaea;
  outline: none;
  border: none;
}

.ant-drawer-right.ant-drawer-open.drawer-root .ant-drawer-content-wrapper {
  box-shadow: none;
  -webkit-box-shadow: none;
}

.details-panel {

  .ant-drawer-wrapper-body {
    background: #eaeaea;
  }

  .esri-legend__service {
    padding: 20px 0;

    &:not(:last-child) {
      border-radius: 0;
      border-bottom: 1px solid #eaeaea;
    }
  }

  .esri-legend__layer {
    margin: 0;
  }

  .esri-legend__layer-caption {
    color: rgba(0, 0, 0, 0.85);
    display: block;
    font-size: 16px;
    font-family: 'Hind Siliguri', sans-serif;
    font-weight: 600;
    margin-block-end: 1em;
  }

}

.details-panel__separator {
  background-color: #eaeaea;
  width: 100%;
  height: 1px;
  display: block;
}
