.details-panel__close {
  position: absolute;
  width: 27px;
  height: 27px;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  padding: 0;
  left: -26px;
  top: 0px;
  background-color: #eaeaea;
  cursor: pointer;
  z-index: 1;
  border: none;
  user-select: none;
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;

  display: flex;
  justify-content: center;
  align-items: center;
  
  img {
    transition: transform 0.3s ease-in-out;
  }

  &:active, &:focus {
    background-color: #eaeaea;
    outline: none;
    border: none;
  }
}

.details-panel {
  position: absolute;
  background: rgb(245, 245, 245);
  height: calc(100% - 15px);

  &.ant-drawer-open .ant-drawer-content-wrapper {
    box-shadow: none;
    -webkit-box-shadow: none;
  }

  .ant-drawer-wrapper-body {
    background: #eaeaea;

    .ant-drawer-body {
      padding: 12px;
      margin: 15px 7px;
      background: white;
      min-height: 100%;
      border-radius: 3px;
      border: 1px solid #e0e0e0;
    }
  }

  .esri-legend {
    width: 100%;
    max-width: none;
  }

  .esri-legend__service {
    background-color: white;
    border-radius: 5px;
    padding: 24px 0px;

    &:not(:last-child) {
      border-radius: 0;
      border-bottom: 1px solid #eaeaea;
    }
  }

  .esri-legend__layer {
    margin: 0;

    .esri-legend__layer-body {
      margin-left: 8px;
    }
  }

  .esri-legend__layer-caption {
    color: rgba(0, 0, 0, 0.85);
    display: block;
    font-size: 16px;
    font-family: 'Hind Siliguri', sans-serif;
    font-weight: 600;
    margin-block-end: 1em;
  }

}

.details-panel__separator {
  background-color: #eaeaea;
  height: 1px;
  margin: 0;
  border: none;
}
