.gray {
  color: #aaa
}

.details-tooltip {
  position: absolute;
  min-width: 200px;
  width: auto;
  min-height: 58px;
  max-height: 58px;
  background-color: #222;
  box-shadow: 0 0 6px -0.2px rgba(255, 255, 255, 0.3);
  color: white;
  padding: 8px;
  z-index: 2;
  word-wrap: none;
  white-space: nowrap;

  .details-arrow {
    position: absolute;
    width: 10px;
    height: 10px;
    transform: rotate(55deg) skew(22deg, 0deg);
    transform-origin: center;
    z-index: 1;
    top: 52px;
    left: 105px;
    background-color: #222;
    box-shadow: none;

    &.vertical {
      transform: rotate(55deg) skew(22deg, 0deg);
    }

    &.horrizontal {
      transform: rotate(33deg) skew(-22deg, 0deg);
    }
  }
}