.details-hover {
  min-width: 200px;
  min-height: 50px;
  position: absolute;
  background-color: #222;
  box-shadow: 0 0 7.5px 1.5px rgba(255, 255, 255, 0.3);
  color: white;
  z-index: 3000;
  padding: 8px;

  .details-hover__title {
    font-size: 12px;
    margin-right: 8px;
  }

  .details-hover__value {
    font-size: 12px;
  }
}