@import '../components/details/details.scss';

.event-details {
  background-color: #F0F0F0;

  .event-details__title {
    color: white;
    font-size: 12px;
    font-weight: 300;
    letter-spacing: 0.6px;
    word-break: break-word;
    white-space: normal;
  }

  .event-details__subtitle {
    font-size: 13px;
    font-weight: 600;
    letter-spacing: 0.5px;
    margin-bottom: 4px;
  }
}