@import '../components/details/details.scss';

.event-details {
  background-color: #F0F0F0;

  .ant-card-head-title {
    padding: 11px 10px 10px 10px;
  }

  .ant-card-body {
    padding: 3px 10px;
  }

  .event-details__title {
    color: white;
    font-size: 12px;
    font-weight: 300;
    letter-spacing: 1.2px;
    word-break: break-word;
    white-space: normal;
  }

  .event-details__subtitle {
    font-size: 12px;
    font-weight: 600;
    letter-spacing: 1px;
  }

  .details-list {
    margin: 0;
    padding-left: 0;
    list-style: none;

    li {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 12px 0;
      font-size: 12px;
    }
  }
}