.layer-list-switch {
  float: left;
  margin-top: 1px;
}
.layer-list-header {
  display: inline-block;
  margin: 0px 0px 2px 10px;
}
.layer-list-subswitch {
  margin: 3px 10px 2px 10px;
}



/* .layer-list-item {
  display: flex;
  position: relative;
  width: 100%;
  background-color: #fff;
  -webkit-box-align: center;
  -ms-flex-align: center;
  font-size: 16px;
  color: rgba(0,0,0.85);
  font-weight: 400;
  line-height: 25px;
  align-items: center;
  cursor: pointer;
  transition: color .3s cubic-bezier(.645, .045, .355, 1),border-color .3s cubic-bezier(.645, .045, .355, 1),background .3s cubic-bezier(.645, .045, .355, 1),padding .15s cubic-bezier(.645, .045, .355, 1);
  -webkit-transition: color .3s cubic-bezier(.645, .045, .355, 1),border-color .3s cubic-bezier(.645, .045, .355, 1),background .3s cubic-bezier(.645, .045, .355, 1),padding .15s cubic-bezier(.645, .045, .355, 1);
}
.layer-list-item:hover{
  color: #1890ff;
}
.layer-list-item:focus{
  color: #1890ff;
}

.layer-list-subitem{
  color: red;
  font-size: 14px;
  font-weight: 300;
  line-height: 20px;
  padding-left: 10px;
}

.layer-list-item > .anticon{
  margin-right: 10px;
} */