@import '../components/details/details.scss';

.survey-details {
  background-color: #F0F0F0;

  .survey-details__category {
    color: black;
    font-size: 12px;
    font-weight: 600;
    letter-spacing: 0.5px;
  }

  .survey-details__subcategory {
    color: white;
    font-size: 12px;
    font-weight: 300;
    letter-spacing: 0.7px;
  }

  .survey-details__image {
    margin-top: 15px;

    img {
      max-width: 75px;
      max-height: 75px;
      padding: 8px;
      border: 0.8px solid #345699;
      // border-radius: 3px;
    }
  }
}

.survey-details-panel .esri-legend__layer-cell {
  padding: 2px 0;

  .esri-legend__symbol {
    svg {
      width: 28px;
      height: 28px;
      padding: 2px 0;

      image {
        width: 28px;
        height: 28px;
      }
    }
  }
}