.details-tooltip {

  .survey-tooltip__title {
    font-size: 11px;
    letter-spacing: 0.8px;
    margin-bottom: 4px;
  }

  .survey-tooltip__coordinates {
    min-width: 210px;
    font-size: 11px;
    letter-spacing: 0.5px;
  }
}