@import '../components/details/details.scss';

.survey-details {
  background-color: #F0F0F0;

  .survey-details__category {
    color: black;
    font-size: 12px;
    font-weight: 600;
    letter-spacing: 0.5px;
  }

  .survey-details__subcategory {
    color: white;
    font-size: 12px;
    font-weight: 300;
    letter-spacing: 0.7px;
  }

  .survey-details__dimensions {
    .survey-details__separator {
      background-color: #e3e3e3;
      margin: 15px -12px;
      border: none;
      height: 1px;
    }

    .survey-details__caption {
      display: inline-block;
      font-size: 12px;
    }

    .survey-details__image {
      display: inline-block;
      position: relative;
      padding: 5px;
      border: 0.8px solid #345699;
      margin-top: 12px;
      margin-left: 12px;
      float: right;

      .survey-details__dim-value {
        font-weight: 600;
        letter-spacing: 0.2px;
      }

      .survey-details__measure-unit {
        color: #777;
      }

      .survey-details__width {
        position: absolute;
        font-size: 10px;
        transform: translate(-5px, -22px);
        width: 100%;
        text-align: center;
      }

      .survey-details__height {
        position: absolute;
        font-size: 10px;
        width: 100%;
        transform: translate(-15px, -3px) rotate(-90deg);
        transform-origin: center left;
        text-align: center;
      }
      
      img {
        max-width: 62px;
        max-height: 62px;
        padding: 5px;
        background: rgba(52, 86, 153, 0.15);
      }
    }
  }

}

.survey-details-panel .esri-legend__layer-cell {
  padding: 2px 0;

  .esri-legend__symbol {
    svg {
      width: 28px;
      height: 28px;
      padding: 2px 0;

      image {
        width: 28px;
        height: 28px;
      }
    }
  }
}