body {
  overscroll-behavior-y: none;
  overscroll-behavior-x: none;
}

.esri-widget--button,
.esri-search__input,
.esri-legend,
.esri-widget {
  border-radius: 2px;
  background: rgba(245,245,245,0.9) !important;
}

.esri-widget .esri-histogram{
  background: none !important;
}

.esri-histogram-range-slider {
  background: none !important;
}

.esri-legend {
  max-width: 180px;
}

.esri-popup {
  background: white;
  border-radius: 2px;
}