body {
    font-family: 'Hind Siliguri', sans-serif;
    height: 100vh;
    width: 100vw;
    overscroll-behavior-y: none;
    overscroll-behavior-x: none;
}
 
/* don't want to overwride focus behavior of other components? */
:focus {
    outline: none;
    background-color: transparent;
} 


.splash-header {
    background: url(https://static.mobileye.com/website/corporate/data-demos/header.jpg) center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 65vh;
    position: relative;
}

.top-header {
    display: flex;
    flex-direction: row;
    padding: 2vw;
    justify-content: space-between;
    align-items: flex-start;
}

.logo {
    width: 10vw;
}

.bottom-header {
    color: #fff;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

.bottom-header-h1 {
  color: #fff;
  font-size: 4.2vw;
  line-height: 4.2vw;
  font-weight: 700;
}

.bottom-header-h2 {
  color: #fff;
  font-size: 2vw;
  line-height: 2vw;
  font-weight: 400;
  margin-top: 1vw;
}

.login-btn {
    font-size: 1vw;
    padding: .5vw 1.7vw;
    color: #fff;
    border: none;
    border-radius: 32px;
    background-color: #00c9d8;
    justify-self: self-end;
    cursor: pointer;
}

.grid {
    background-color: #ededed;
    height: 35vh;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    align-items: center;
    justify-items: center;
}

.grid .item {
    text-align: center;
    text-decoration: none;
}

.grid .item:active {
    -webkit-tap-highlight-color: transparent;
}

.grid img {
    margin-bottom: 10px;
    height: 6vw;
}

.grid p {
    align-self: flex-start;
    font-size: 1vw;
    line-height: 1.3vw;
    height: 2.6vw;
    text-align: center;
    color: #10508a;
}

/* Esri Overrides */
.esri-widget--button,
.esri-search__input,
.esri-legend,
.esri-widget {
  border-radius: 2px;
  background: rgba(245,245,245,0.9) !important;
}

.esri-widget .esri-histogram{
  background: none !important;
}

.esri-histogram-range-slider {
  background: none !important;
}

.esri-legend {
  max-width: 180px;
}

.esri-popup {
  background: white;
  border-radius: 2px;
}
.esri-feature {
  padding: 10px;
  max-width: 400px;
}

.antd-esri-widget {
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3) !important;
  /* background: rgba(245,245,245,0.9) !important; */
  background: #F3F3F3 !important;
  border-radius: 2px !important;
}

.antd-esri-widget .ant-card-body {
  padding-top: 5px !important;
}

/* Antd Overrides */

.ant-drawer-left.ant-drawer-open .ant-drawer-content-wrapper{
  box-shadow: none !important;
  -webkit-box-shadow: none !important;
}

.ant-drawer-header {
  background: #f5f5f5 !important;
}

.ant-progress-inner {
  background: white !important;
}